JWT_SECRET=VQQpoyprWa1Gfy8Ue6fiefZH1ogSUY0UjuxC4VE1Kti4GIPS13YXEvpbSVJLBeq6k6lkcy-T_TxkieQ1Bo-Orw
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
DATABASE_URL=sqlite:///./hydrosentry.db
MODEL_PATH=weights/best.pt
ANOMALY_MODEL_PATH=weights/model.ckpt
